html {
	font-size: 10px; /* The base font height is 10 pixels. */
	font-family: "Arial, Helvetica", sans serif;
}
h1 {
	font-size: 60px;
	text-align: center;
}
 
p,
li,
dt,
dd {
	font-size: 16px;
	line-height: 2;
	letter-spacing: 1px;
}
html {
	background-color: #00ffff;
}
body {
	width: 600px;
	margin: 0 auto;
	background-color: #ff0000;
	padding: 0 20px 20px 20px;
	border: 5px solid black;
}
h1 {
	margin: 0;
	padding: 20px 0;
	color: #00ffff;
	text-shadow: 3px 3px 1px black;
}
img {
	display: block;
	margin: 0 auto;
	width: 500px; /* Done to shrink a too wide image. */
}
